<div class="container margin-top-70">
  <div class="col-xs-12 col-md-6">
      <!--    -->
    <h1 id="title-yo"><%= "Welcome " + current_user.username + "!" %></h1>

    <%= link_to "manage bookings", bookings_path %>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="user-kitchens">
      <% @user_kitchens.each do |kitchen| %>
        <%= kitchen.title %>
      <% end %>
      <h1>Kitchens below</h1>

    </div>
  </div>
</div>
