<div class="profile-info">
  <div class="welcome">
    <%= "Welcome" + current_user.username %>
  </div>
  <div class="profile-picture">

  </div>
  <%= link_to "Manage bookings", bookings_path %>
</div>
<div class="user-kitchens">
  <% @user_kitchens.each do |kitchen| %>
    <%= kitchen.title %>
  <% end %>
</div>
