.container-h {
  display: flex;
  justify-content: center;
}


.price {
  color: #7D7D7D;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 25px;


}

.description {
  h4 {
    padding-bottom: 20px;
    color: $gray;
  }
}

.amenities {
  h4 {
    padding-bottom: 20px;
    color: $gray;
  }
  padding-bottom: 25px;
}

.description {
  h4 {
    padding-bottom: 20px;
    color: $gray;
  }
  padding-bottom: 25px;
}

.capacity {
  h4 {
    padding-bottom: 20px;
    color: $gray;
  }
  padding-bottom: 25px;
}

.price-and-book {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  padding: 10px 100px;
  margin-top: 10px;
  border-radius: 5px
}

.btn {
  background-color: #8CD76E;
  padding: 5px 25px;
  color: white;
  border-radius: 7px;
}

// .title {
//   h1 {
//     font-size: 24px !important;
//     font-weight: bold !important;
//   }
// }

.title-yo {
  font-size: 24px;
  font-weight: bold;
}

.booking-form {
  align: center;
}

.orange-text {
  color: #FA6828 !important;
}

.thinner {
  font-weight:lighter;
}
